:root {
  --color-text: #181817;
  --color-secondary-text: #839aa9;
  --color-brand: #ff9f0e;
  --color-light-brand: #fcb62a;
  --color-white: #ffffff;
  --color-background: #fffaf3;
}

$bp-mobile: 480px;
$bp-table: 768px;
$bp-desktop: 1280px;
